h1 {
font-size: 50px;
font-family: sans-serif;
-webkit-animation: crazy;
-webkit-animation-duration: 5s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: ease-in-out;
-webkit-animation-direction: alternate;
color: pink;
-moz-animation: crazy;
-moz-animation-duration: 5s;
-moz-animation-iteration-count: infinite;
-moz-animation-timing-function: ease-in-out;
-moz-animation-direction: alternate;
-o-animation: crazy;
-o-animation-duration: 5s;
-o-animation-iteration-count: infinite;
-o-animation-timing-function: ease-in-out;
-o-animation-direction: alternate;
animation: crazy;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
animation-direction: alternate;
}

@-webkit-keyframes crazy {
from {
margin-left: 100%;

color: red;
}

30% {
font-size: 90px;
font-family: arial;
color: orange;
margin-top: 40%;
margin-left: 20%;

}

40%{
color: purple;
font-size: 70px;
-webkit-animation-direction: alternate;
margin-left: 20%;
}

50%{
color: blue;
}
60% {
color: green;
font-size: 40px;
margin-bottom: 40%;
}

70% {
color: yellow;
}
to {
margin-left: 2%
color: pink;
font-size: 20px;
}
}

@-moz-keyframes crazy {
from {
margin-left: 100%;

color: red;
}

30% {
font-size: 90px;
font-family: arial;
color: orange;
margin-top: 40%;
margin-left: 20%;

}

40%{
color: purple;
font-size: 70px;
-moz-animation-direction: alternate;
margin-left: 20%;
}

50%{
color: blue;
}
60% {
color: green;
font-size: 40px;
margin-bottom: 40%;
}

70% {
color: yellow;
}
to {
margin-left: 2%
color: pink;
font-size: 20px;
}
}

@-o-keyframes crazy {
from {
margin-left: 100%;

color: red;
}

30% {
font-size: 90px;
font-family: arial;
color: orange;
margin-top: 40%;
margin-left: 20%;

}

40%{
color: purple;
font-size: 70px;
-o-animation-direction: alternate;
margin-left: 20%;
}

50%{
color: blue;
}
60% {
color: green;
font-size: 40px;
margin-bottom: 40%;
}

70% {
color: yellow;
}
to {
margin-left: 2%
color: pink;
font-size: 20px;
}
}

@keyframes crazy {
from {
margin-left: 100%;

color: red;
}

30% {
font-size: 90px;
font-family: arial;
color: orange;
margin-top: 40%;
margin-left: 20%;

}

40%{
color: purple;
font-size: 70px;
animation-direction: alternate;
margin-left: 20%;
}

50%{
color: blue;
}
60% {
color: green;
font-size: 40px;
margin-bottom: 40%;
}

70% {
color: yellow;
}
to {
margin-left: 2%
color: pink;
font-size: 20px;
}
}

body {
overflow:hidden;
-webkit-animation: epileptic;
-webkit-animation-duration: 1.5s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
-o-animation: epileptic;
-o-animation-duration: 1.5s;
-o-animation-iteration-count: infinite;
-o-animation-timing-function: linear;
-moz-animation: epileptic;
-moz-animation-duration: 1.5s;
-moz-animation-iteration-count: infinite;
-moz-animation-timing-function: linear;
animation: epileptic;
animation-duration: 1.5s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

@-webkit-keyframes epileptic {
from{
background-color: red;
}
10%{
background-color:red ;
}20%{
background-color:orange ;
}30%{
background-color:blue ;
}40%{
background-color: green;
}50%{
background-color:pink ;
}60%{
background-color:black ;
}70%{
background-color:white ;
}80%{
background-color:yellow ;
}90%{
background-color:brown ;
}
to{
background-color: purple;
}
}


@-o-keyframes epileptic {
from{
background-color: red;
}
10%{
background-color:red ;
}20%{
background-color:orange ;
}30%{
background-color:blue ;
}40%{
background-color: green;
}50%{
background-color:pink ;
}60%{
background-color:black ;
}70%{
background-color:white ;
}80%{
background-color:yellow ;
}90%{
background-color:brown ;
}
to{
background-color: purple;
}
}

@-moz-keyframes epileptic {
from{
background-color: red;
}
10%{
background-color:red ;
}20%{
background-color:orange ;
}30%{
background-color:blue ;
}40%{
background-color: green;
}50%{
background-color:pink ;
}60%{
background-color:black ;
}70%{
background-color:white ;
}80%{
background-color:yellow ;
}90%{
background-color:brown ;
}
to{
background-color: purple;
}
}

@keyframes epileptic {
from{
background-color: red;
}
10%{
background-color:red ;
}20%{
background-color:orange ;
}30%{
background-color:blue ;
}40%{
background-color: green;
}50%{
background-color:pink ;
}60%{
background-color:black ;
}70%{
background-color:white ;
}80%{
background-color:yellow ;
}90%{
background-color:brown ;
}
to{
background-color: purple;
}
}